/* body {
    background-color: lightskyblue;
} */

.parent_container{
    text-align: center;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 38px;
}

h2 {
    color: red;
    background-color:yellow;
}

#Compbtn {
    color: brown;
    font-size: 28px;
    font-weight: bold;
}

#Playerbtn {
    color: brown;
    font-size: 28px;
    font-weight: bold;
}

.Scorebtn {
    color: darkviolet;
    font-weight: bold;
    font-size: 22px;
}

